# Dependencies
node_modules/
.expo/
.expo-shared/

# Build
dist/
build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Env
.env
.env.local
.env.production

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
